h1 {
    color: fuchsia;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    justify-items: center;
  }

  .listArea{
    display: grid; 
  }

  .li{
    height: 100px;
    width: 100px;
    margin: 5px;
  }

  #li {
    background-color: cornflowerblue;
  }